{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{request.user}} Edit</title>
    <link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/jpeg">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/student-home.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>

<body>
    {% include 'author/header.html' %}
    
    {% load crispy_forms_filters %}
    <form action="{% url 'author-profile-edit-url' %}" method="post" class="card p-4">
        {% csrf_token %}
        <div class="card-header">
            <h3 class="text-center text-info text-capitalize">Hi {{request.user.last_name}}, Edit your profile and save.
            </h3>
        </div>
        <div class="card-body">
            {{ form|crispy }}
            <input class="form-control btn btn-primary" type="submit" value="Save">
        </div>
    </form>
    {% include 'footer.html' %}
    <script src="{% static 'js/global.js' %}"></script>
    <script src="{% static 'js/student-index.js' %}"></script>
    <script src="{% static 'bootstrap/js/jquery-3.4.0.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</body>

</html>