{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tutorial Name</title>
    <link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/jpeg">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/tutorial-edit.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>

<body>
{% include 'author/header.html' %}
{% for message in messages %}
    <p class="alert alert-dismissible bg-info text-center m-auto" style="width: 90%; margin-bottom: 10px">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong {% if message.tags %} class="{{ message.tags }} text-capitalize" {% endif %}>
            {{ message }}
        </strong>
    </p>
{% endfor %}
<section class="course-main row pl-3">
    {% include 'author/nav-vertical-for-tutorial.html' %}
    <!-- Course Content Start -->
    <div class="col-md-10 col-sm-12 card">
        <div class="card-header">
            <p class="text-white">Tutorial No: <span id="tutorial-id">{{tutorial.id}}</span></p>
            <h1 id="tutorial-name" contenteditable="true">
                {{ tutorial.name }}
            </h1>
            <h4 id="tutorial-description" contenteditable="true">{{tutorial.description|linebreaks}}</h4>
        </div>
        {% if topics %}
            {% for topic in topics %}
                <div class="card-body" data-topic-id="{{ topic.id }}">
                    <h3 contenteditable="true" class="editable-topic-name" data-field="name">{{ topic.name }}</h3>
                    <h4 contenteditable="true" class="editable-topic-notes" data-field="notes">{{ topic.notes|linebreaks }}
                    </h4>
                </div>
            {% endfor %}
        {% else %}
            <div class="card-body">
                <h1 class="w-100 text-center">Your Tutorial Has 0 Topics.</h1>
                <div class="card-body d-flex">
                    <button id="create-topic-btn" class="btn btn-secondary m-auto">Create New Topic</button>
                </div>
            </div>
        {% endif %}
        <!-- Topic Create  -->
        {% if topics %}
            <div class="card-body d-block">
                <button id="create-topic-btn" class="btn btn-secondary">Create New Topic</button>
            </div>
        {% endif %}
        <div id="create-topic-fields" class="card-body bg-dark d-none">
            <h3 contenteditable="true" id="create-topic-name">Type Topic Name Here</h3>
            <textarea class="w-100"  id="create-topic-notes" rows="10">Type Topic Notes Here
                </textarea>
            <button id="save-topic-btn" class="btn btn-success">Save Topic</button>
        </div>
        <!-- Topic Create End -->
        <div class="card-footer">
            <h5>Downloads</h5>
            {% for attachment in attachments %}
                <a href="" download="../../TutorialAttachments/birthcertificate.pdf">{{attachment.file_name}}
                    {{attachment.attachment}}</a> <br>
            {% endfor %}
        </div>
    </div>
    <!-- Course Content End -->
</section>

{% include 'footer.html' %}
<script src="{% static 'js/tutorial-edit.js' %}"></script>
<script src="{% static 'js/global.js' %}"></script>
<script src="{% static 'js/student-course.js' %}"></script>
<script src="{% static 'bootstrap/js/jquery-3.4.0.js' %}"></script>
<script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</body>

</html>