{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exams</title>
    <link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/jpeg">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/exams.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>

<body>
    {% include 'student/header.html' %}
    {% for message in messages %}
    <p class="alert alert-dismissible bg-info text-center m-auto" style="width: 90%; margin-bottom: 10px">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong {% if message.tags %} class="{{ message.tags }} text-capitalize" {% endif %}>
            {{ message }}
        </strong>
    </p>
    {% endfor %}



    <!-- Cat Container -->
    <section class="container mt-5">

        <div class="row">
            <!-- Cat Section -->
            <div class="col-md-6 col-lg-8 mb-4">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h4 class="text-info">
                        CATs/Asignments
                    </h4>
                    <input type="text" id="search" class="form-control w-50" placeholder="Search CAT by CAT ID">
                </div>
                <h4 id="result-header" class="d-none text-dark">Search Result</h4>
                <div id="result-holder" class="result-holder d-none p-4">

                </div>
                <div class="row">
                    {% if cats %}
                    {% for cat in cats %}
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card h-100 shadow-lg border-light">
                            <p class="card-title font-weight-bold bg-info text-white p-4">{{ cat.cat.name }}</p>
                            <div class="card-body">                                
                                <p>CAT ID: {{ cat.cat.cat_id }}</p>
                                <p>Start Date: {{ cat.cat.start }}</p>
                                <p>End Date: {{ cat.cat.end }}</p>
                                <p class="text-info font-weight-bolder" id="remaining-time{{cat.cat.id}}"></p>
                                <script>
                                    // Convert the Django datetime to a JavaScript Date object
                                    var endDateTime = new Date("{{ cat.cat.end|date:'Y-m-d H:i:s' }}").getTime();
                                    function updateRemainingTime() {
                                        var now = new Date().getTime();
                                        var timeRemaining = endDateTime - now;
                                        if (timeRemaining > 0) {
                                            var minutesRemaining = Math.floor(timeRemaining / (1000 * 60));
                                            document.getElementById('remaining-time{{cat.cat.id}}').innerText = "Time Left: " + minutesRemaining + " mins";
                                        } else {
                                            document.getElementById('remaining-time{{cat.cat.id}}').innerText = "Time has ended.";
                                        }
                                    }
                                    // Update the remaining time every minute
                                    setInterval(updateRemainingTime, 60000);
                                    // Initial update
                                    updateRemainingTime();
                                </script>
                            </div>
                            <div class="card-footer text-mutedjustify-content-between align-items-center">
                                {% if cat.cat.end > end_time_check %}
                                <a class="btn btn-success float-right"
                                    href="{% url 'student-cat-view-url' cat.cat.id %}">Open</a>
                                {% else %}
                                <p class="text-center text-success w-100">
                                    Score: {{ cat.correct_answers_count }} out of {{ cat.total_questions_count }}
                                </p>
                                <a class="btn btn-secondary w-100"
                                    href="{% url 'student-cat-view-url' cat.cat.id %}">View Results</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <h4 class="d-flex justify-content-center align-items-center w-100" style="min-height: 50vh;">No CATs
                        participated.</h4>
                    {% endif %}
                </div>
            </div>
            

            <!-- Recently Viewed Tutorials Section -->
            <div class="col-md-6 col-lg-4 mb-4">
                <h4 class="text-success mb-4">Recently Viewed Tutorials</h4>
                <div class="row overflow-auto" style="height: 75vh;">
                    {% if my_tutorials %}
                    {% for tutorial in my_tutorials %}
                    <div class="col-12 mb-4">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">{{ tutorial.tutorial.name }}</h5>
                                <p class="card-text">{{ tutorial.tutorial.description|slice:":100" }}{% if tutorial.tutorial.description|length > 100 %}...{% endif %}</p>
                            </div>
                            <div class="card-footer text-muted">
                                <a href="{% url 'student-tutorial-url' tutorial.tutorial.id %}"
                                    class="btn btn-success btn-block">Continue Learning</a>
                                <a href="{% url 'student-tutorial-rm-rv-url' tutorial.tutorial.id %}"
                                    class="btn btn-danger btn-block mt-2">Remove</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <h4 class="d-flex bg-dark justify-content-center align-items-center w-100"
                        style="min-height: 50vh;">No Recently
                        View Tutorials.</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>


    {% include 'footer.html' %}
    <script src="{% static 'js/global.js' %}"></script>
    <script src="{% static 'js/search-cat.js' %}"></script>
    <script src="{% static 'bootstrap/js/jquery-3.4.0.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</body>

</html>