{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exams</title>
    <link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/jpeg">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/exams.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
</head>

<body>
{% include 'student/header.html' %}
{% for message in messages %}
    <p class="alert alert-dismissible bg-info text-center m-auto" style="width: 90%; margin-bottom: 10px">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong {% if message.tags %} class="{{ message.tags }} text-capitalize" {% endif %}>
            {{ message }}
        </strong>
    </p>
{% endfor %}

<!-- Search Section -->
<div class="w-100 p-3 bg-success d-flex">
    <form class="w-50 m-auto" action="">
        <label class="w-100 font-weight-bolder text-white" for="cat-id">
            <i class="bi bi-search"></i> Type CAT ID <sup>*</sup> <br>
            <input class="p-2 form-control" type="text" id="search" placeholder="Type CAT ID">
        </label>
        <h4 class="d-none text-white" id="result-header">Search Result</h4>
        <div class="p-2 bg-light" id="result-holder" style="border-radius: 10px"></div>
    </form>
</div>

<!-- My CATs Start -->
{% if cats %}
    <section class="cat-container container my-4">
        <div class="cat-container-header bg-success p-4 text-white">
            <h4 class="m-2"><i class="bi bi-journal-text"></i> CATs Participated</h4>
        </div>
        <div class="row g-3">
            {% for cat in cats %}
                <div class="col-md-4 mt-2">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bolder">
                                <span class="p-2 btn btn-secondary">CAT ID: {{ cat.cat.cat_id }}</span>
                            </h5>
                            <p class="card-text"><i class="bi bi-bookmark"></i> CAT Name: {{ cat.cat.name }}</p>
                            <p class="card-text"><i class="bi bi-calendar-event"></i> Start Date: {{ cat.cat.start }}</p>
                            <p class="card-text"><i class="bi bi-calendar-x"></i> End Date: {{ cat.cat.end }}</p>
                        </div>
                        <div class="card-footer">
                            {% if cat.cat.end > end_time_check %}
                                <a class="btn btn-success w-100" href="{% url 'student-cat-view-url' cat.cat.id %}">
                                    <i class="bi bi-play-circle"></i> Open
                                </a>
                            {% else %}
                                <p>
                                    <i class="bi bi-check-circle-fill text-success"></i> Score: {{ answers.count }} out of 
                                    {% for question in questions %}
                                        {% if question.cat == cat.cat %}
                                            {{ question }}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                                <a class="btn btn-secondary w-100" href="">
                                    <i class="bi bi-file-earmark-bar-graph"></i> View Results
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% else %}
    <h3 class="text-center w-100">You have not participated in any CAT.</h3>
{% endif %}
<!-- My CATs End -->

{% include 'footer.html' %}
<script src="{% static 'js/global.js' %}"></script>
<script src="{% static 'js/search-cat.js' %}"></script>
<script src="{% static 'bootstrap/js/jquery-3.4.0.js' %}"></script>
<script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</body>

</html>
