{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exams</title>
    <link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/jpeg">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/exams.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>
<body>
{% include 'student/header.html' %}
{% for message in messages %}
    <p class="alert alert-dismissible bg-info text-center m-auto" style="width: 90%; margin-bottom: 10px">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong {% if message.tags %} class="{{ message.tags }} text-capitalize" {% endif %}>
            {{ message }}
        </strong>
    </p>
{% endfor %}
<div class="w-100 p-3 bg-success d-flex">
    <form class="w-50 m-auto" action="">
        <label class="w-100 font-weight-bolder" for="cat-id">
            Type CAT ID <sup>*</sup> <br>
            <input class="p-2 form-control" type="text" id="search" placeholder="Type CAT ID">
        </label>
        <h4 class="d-none" id="result-header">Search Result</h4>
        <div class="p-2" id="result-holder" style="border-radius: 10px">

        </div>
    </form>

</div>


{#====My Cats Start====#}
{% if cats %}
    <section class="cat-container container">
        <div class="cat-container-header bg-success pt-4 pb-4 pr-1 pl-1">
            <h4 class="m-2">
                CATs Participated
            </h4>
        </div>
        <div class="cat-container-card-holder flex pt-4 pb-4">
            {% for cat in cats %}
                <div class="card">
                    <div class="card-footer">
                        <h5 class="font-weight-bolder">
                            <span class="p-2 btn btn-secondary">CAT Id: {{ cat.cat.cat_id }}</span>
                        </h5>
                    
                        <p>CAT Name: {{ cat.cat.name }}</p>
                        <p>Start Date: {{ cat.cat.start }}</p>
                        <p>End Date: {{ cat.cat.end }}</p>
                        {% if cat.cat.end > end_time_check %}                            
                            <a class="btn btn-success w-100" href="{% url 'student-cat-view-url' cat.cat.id %}">Open</a>
                        {% else %}
                            <p>
                                Score: {{ answers.count }} out of 
                            {% for question in questions %}
                                {% if question.cat == cat.cat %}
                                	{{ question }}
                                {% endif %} 
                            	
                            {% endfor %}
                            
                            </p>
                            <a class="btn btn-secondary w-100" href="">View Results</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% else %}
    <h3 class="text-center w-100">You have not participated in any CAT.</h3>
{% endif %}
{#====My Cats End====#}
{% include 'footer.html' %}
<script src="{% static 'js/global.js' %}"></script>
<script src="{% static 'js/search-cat.js' %}"></script>
<script src="{% static 'bootstrap/js/jquery-3.4.0.js' %}"></script>
<script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</body>
</html>