{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ request.user.username }} Dashboard</title>
    <link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/jpeg">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/student-index.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>

<body>

{% include 'student/header.html' %}

{% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show text-center" style="width: 90%; margin: 10px auto;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</strong>
    </div>
{% endfor %}

<!-- Create A Tutorial -->
{% if my_tutorials %}
    <!-- Tutorials Container -->
    <section class="container mt-5">
        <div class="row">
            <!-- Latest Tutorials Section -->
            <div class="col-md-6 col-lg-8 mb-4">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h4 class="text-info">Latest Tutorials</h4>
                    <input type="text" id="search" class="form-control w-50" placeholder="Search Tutorial">
                </div>
                <div id="result-holder">
                    <h4 id="result-header" class="d-none">Search Result</h4>
                </div>
                <div class="row">
                    {% for tutorial in tutorials %}
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card h-100 shadow-lg border-light"> 
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold">{{ tutorial.name }}</h5>
                                    <p class="card-text">{{ tutorial.description|slice:":100" }}{% if tutorial.description|length > 100 %}...{% endif %}</p>
                                </div>
                                <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                                    <a href="{% url 'student-tutorial-url' tutorial.id %}" class="btn btn-info">View</a>
                                    <small class="text-secondary">Publisher: {{ tutorial.user }}</small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Recently Viewed Tutorials Section -->
            <div class="col-md-6 col-lg-4 mb-4">
                <h4 class="text-success mb-4">Recently Viewed</h4>
                <div class="row">
                    {% for tutorial in my_tutorials %}
                        <div class="col-12 mb-4">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold">{{ tutorial.tutorial.name }}</h5>
                                    <p class="card-text">{{ tutorial.tutorial.description|slice:":100" }}{% if tutorial.tutorial.description|length > 100 %}...{% endif %}</p>
                                </div>
                                <div class="card-footer text-muted">
                                    <a href="{% url 'student-tutorial-url' tutorial.tutorial.id %}" class="btn btn-success btn-block">Continue Learning</a>
                                    <a href="{% url 'student-tutorial-rm-rv-url' tutorial.tutorial.id %}" class="btn btn-danger btn-block mt-2">Remove</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endif %}



{% include 'footer.html' %}

<script src="{% static 'js/global.js' %}"></script>
<script src="{% static 'js/student-index.js' %}"></script>
<script src="{% static 'bootstrap/js/jquery-3.4.0.js' %}"></script>
<script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

</body>
</html>
