  <!-- Navbar Vertical Start -->
  <nav class="nav-vertical col-md-2 col-sm-12">
    <h1>Topics</h1>
    <div class="nav-items-vertical">
        <ul class="list-unstyled">
             {% for topic in topics %}
             <li class="w-100 mb-2">
                <a class="btn btn-light text-dark d-flex align-items-center p-3 rounded shadow-sm w-100 transition-all duration-300 ease-in-out hover:bg-primary hover-text-light hover-shadow" href="#">
                    <i class="fas fa-book mr-2"></i> {{ topic.name }}
                </a>
            </li>
            {% endfor %}            
        </ul>
    </div>
</nav>
<!-- Navbar Vertical End -->