{% extends 'pwd/main.html' %}
{#{% load crispy_forms_filters %}#}
{% block content %}
    <form class="card w-50 m-auto" method="post">
        {% csrf_token %}
        <div class="card-header">
            <p class="text-center text-info font-weight-bolder">RESET PASSWORD</p>
        </div>
        <div class="card-body">
            {{ form|crispy }}
        </div>
        <div class="card-footer d-flex">
            <input class="submit-btn btn btn-info" type="submit" value="Change"><br>
        </div>
    </form>
{% endblock %}