{% extends 'pwd/main.html' %}
{% block content %}
    <div class="card w-50 m-auto">
        <div class="card-header">
            <p class="text-center text-info">Password reset sent</p>
        </div>
        <div class="card-body bg-dark justify-content-start">
            <p class="text-left text-capitalize text-white font-weight-bolder">We’ve sent a reset link to the email you provided. </p>
            <P class="text-left text-capitalize text-white font-weight-bolder">If an account exists with the email. You should receive the link shortly.</p>
            <p class="text-left text-capitalize text-white font-weight-bolder">If you don’t receive an email, please make sure you’ve entered the EMAIL address you registered with, and check your spam folder.</p>
        </div>
    </div>
{% endblock %}