<section class="footer">
    <div class="container p-4">
        <h3 class="text-info font-weight-bolde text-left">Contact Us</h3>
        <form class="w-100" action="" method="post">
            <label class="w-100 text-white font-weight-bold" for="send-email">
                Email <sup>*</sup><br>
                <input class="form-control" type="email" name="email" id="send-email" placeholder="Enter Email"
                    required>
            </label> <br>
            <label class="w-100 text-white font-weight-bold" for="send-message">
                Message <sup>*</sup><br>
                <textarea class="form-control" name="message" id="send-message" rows="10" placeholder="Type Message"
                    required></textarea>
            </label><br>
            <input class="form-control btn btn-success" type="submit" value="Send">
        </form>
    </div>
    <div class="container p-4 row">
        
        <div class="col-md-6 col-sm-12 pl-5">
            <h3 class="text-info font-weight-bolde text-center">Social Links</h3>
            <nav class="nav justify-content-center">
                <a class="nav-link active" href="#">Facebook</a>
                <a class="nav-link active" href="#">Whatsapp</a>
                <a class="nav-link active" href="#">Telegram</a>

            </nav>
        </div>
        <div class="col-md-6 col-sm-12 pl-5">
            <h3 class="text-info font-weight-bolde text-center">Quick Links</h3>
            <nav class="nav justify-content-center">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link active" href="#">Students</a>
                <a class="nav-link active" href="#">CATs</a>
                <a class="nav-link active" href="#">Profile</a>

            </nav>

        </div>
    </div>
    <div class="container p-4">
        <p class="text-center text-light">
            <script>
                document.write(new Date().getFullYear())
            </script>
            © BESTSOLUTIONPROVIDERS | All rights reserved.
        </p>
    </div>

</section>