{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Med Learn Kenya</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/jpeg">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/student-home.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
     
</head>

<body class="bg-light text-dark" style="font-family: 'Roboto', sans-serif;">
    {% include 'header.html' %}
    {% load crispy_forms_filters %}

    <!-- Banner Section -->
    <section class="banner">
        <div class="banner-overlay"></div>
        <div class="banner-content">
            <h1>Empowering Medical Knowledge</h1>
            <p>Learn Anytime, Anywhere with Med Learn Kenya</p>
        </div>
    </section>

    <!-- Flex Features Section -->
    <section class="container flex-features">
        <div class="feature-card">
            <img src="{% static 'images/quality.jpg' %}" alt="Feature 1">
            <h3>High-Quality Tutorials</h3>
            <p>Access a wide range of tutorials curated by professionals.</p>
        </div>
        <div class="feature-card">
            <img src="{% static 'images/learn.jpg' %}" alt="Feature 2">
            <h3>Learn at Your Pace</h3>
            <p>Study at your convenience with our flexible learning schedule.</p>
        </div>
        <div class="feature-card">
            <img src="{% static 'images/guide.jpg' %}" alt="Feature 3">
            <h3>Expert Guidance</h3>
            <p>Get guidance from medical experts with years of experience.</p>
        </div>
    </section>

    <!-- Tutorials Section -->
    {% if tutorials %}
    <section class="tutorial-container container my-5">
        <div class="tutorial-container-header text-white py-4 px-2 bg-primary rounded shadow-sm mb-4 text-center">
            <h4 class="mb-0">Tutorials</h4>
        </div>
        <div class="row g-4">
            {% for tutorial in tutorials %}
            <div class="col-lg-4 col-md-6 mt-2 ">
                <div class="card shadow-sm h-100 ">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">{{ tutorial.name }}</h5>
                        <p class="card-text">{{ tutorial.description|slice:":100" }}{% if tutorial.description|length > 100 %}...{% endif %}</p>
                        <a href="{% url 'student-tutorial-url' tutorial.id %}" class="btn btn-success w-100 mt-3">Open Tutorial</a>
                    </div>
                    <div class="card-footer text-muted">
                        Publisher: {{ tutorial.user }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% else %}
    <section class="d-flex align-items-center justify-content-center" style="height: 70vh;">
        <h1 class="text-center text-muted">No Tutorial Published</h1>
    </section>

    {% endif %}

    {% include 'footer.html' %}

    <script src="{% static 'js/global.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'bootstrap/js/jquery-3.4.0.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</body>

</html>
