{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exams</title>
    <link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/jpeg">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/exams.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>
<body>
{% include 'author/header.html' %}
{% for message in messages %}
    <p class="alert alert-dismissible bg-info text-center m-auto" style="width: 90%; margin-bottom: 10px">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong {% if message.tags %} class="{{ message.tags }} text-capitalize" {% endif %}>
            {{ message }}
        </strong>
    </p>
{% endfor %}
<!--Create A Cat  -->
<section id="create-cat-pop-up" class="create-cat-pop-up-main container-fluid d-none">
    <div id="create-cat-pop-up-inner" class="d-flex m-auto w-100 p-2">
        <form class="w-75 m-auto p-3" action="{% url 'cat-create-url' %}" method="post">
            <img id="create-cat-pop-up-hide-btn" class="bg-light" src="{% static 'images/bar-close.svg '%}"
                 alt="Close">
            <h3 class="text-center text-success">CREATE A CAT</h3>
            {% csrf_token %}
            <label class="text-left text-white">
                Type Cat Name <br>
                <input class="form-control" type="text" name="name" required>
            </label> <br>
            <label class="text-left text-white">
                Start Date <br>
                <input type="datetime-local" class="w-100 p-2" name="start" required>
            </label>
            <label class="text-left text-white">
                End Date <br>
                <input type="datetime-local" class="w-100 p-2" name="end" required>
            </label>

            <button id="save-cat-created-btn" class="form-control btn-success">Save</button>
        </form>
    </div>
</section>
<!-- Create A Tutorial End  -->

{#====My Cats Start====#}
{% if cats %}
    <section class="cat-container container">
        <div class="cat-container-header bg-success pt-4 pb-4 pr-1 pl-1">
            <h4 class="m-2">
                Your CATs
                <button id="create-cat-pop-up-show-btn" class="float-right btn btn-light">Create Tutorial</button>
            </h4>
            <input class="p-2 m-1 form-control" type="text" id="search" placeholder="Search Your CATs">
            <h4 class="d-none" id="result-header">Search Result</h4>
            <div id="result-holder">

            </div>
        </div>
        <div class="cat-container-card-holder flex pt-4 pb-4">
            {% for cat in cats %}
                <div class="card">
                    <div class="card-footer">
                        <h5 class="font-weight-bolder">
                            <span class="p-2 btn btn-secondary">Id: {{ cat.cat_id }}</span>
                            {% if cat.is_published %}
                                <a class="btn btn-danger float-right" href="{% url 'cat-conceal-publish-url' cat.id %}">Conceal</a>
                            {% else %}
                                <a class="btn btn-danger float-right ml-1" href="{% url 'delete-cat-url' cat.id %}">Delete</a>
                                <a class="btn btn-success float-right" href="{% url 'cat-conceal-publish-url' cat.id %}">Publish</a>
                            {% endif %}
                        </h5>
                        <h5 class="font-weight-bolder">
                            {{ cat.name }}
                        </h5>
                        <p>Start Date: {{ cat.start }}</p>
                        <p>End Date: {{ cat.end }}</p>
                        <a class="btn btn-success w-100" href="{% url 'cat-view-url' cat.id %}">Open</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% else %}
    <h3 class="text-center w-100">You have not published any CAT.</h3>
    <div class="w-100 d-flex">
        <button id="create-cat-pop-up-show-btn" class="btn btn-secondary m-auto">Create New Cat</button>    </div>
{% endif %}
{#====My Cats End====#}
{% include 'footer.html' %}
<script src="{% static 'js/global.js' %}"></script>
<script src="{% static 'js/exams.js' %}"></script>
<script src="{% static 'bootstrap/js/jquery-3.4.0.js' %}"></script>
<script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</body>
</html>