{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exams</title>
    <link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/jpeg">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/exams.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>
<body>
{% include 'author/header.html' %}
{% for message in messages %}
    <p class="alert alert-dismissible bg-info text-center m-auto" style="width: 90%; margin-bottom: 10px">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong {% if message.tags %} class="{{ message.tags }} text-capitalize" {% endif %}>
            {{ message }}
        </strong>
    </p>
{% endfor %}
<!--Create A Cat  -->
<section id="create-cat-pop-up" class="create-cat-pop-up-main container-fluid d-none">
    <div id="create-cat-pop-up-inner" class="d-flex m-auto w-75 p-2">
        <form class="w-75 m-auto p-3" action="{% url 'cat-create-url' %}" method="post">
            <img id="create-cat-pop-up-hide-btn" class="bg-light" src="../../static/images/bar-close.svg"
                 alt="Close">
            <h3 class="text-center text-success">CREATE A CAT</h3>
            {% csrf_token %}
            <label class="text-left text-white">
                Type Cat Name <br>
                <input class="form-control" type="text" name="name" required>
            </label> <br>
            <label class="text-left text-white">
                Start Date <br>
                <input type="datetime-local" class="w-100 p-2" name="start" required>
            </label>
            <label class="text-left text-white">
                End Date <br>
                <input type="datetime-local" class="w-100 p-2" name="end" required>
            </label>

            <button id="save-cat-created-btn" class="form-control btn-success">Save</button>
        </form>
    </div>
</section>
<!-- Create A Tutorial End  -->


 <!-- Cat Container -->
 <section class="container mt-5">
    <div class="row">
        <!-- Cat Section -->
        <div class="col-md-6 col-lg-8 mb-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h4 class="text-info">
                    CATs/Asignments
                    <button id="create-cat-pop-up-show-btn" class="float-right btn btn-secondary ml-1">Create</button>
                </h4>
                <input type="text" id="search" class="form-control w-50" placeholder="Search CAT">
            </div>
            <h4 id="result-header" class="d-none text-dark">Search Result</h4>
            <div id="result-holder" class="result-holder d-none p-4">
                 
            </div>
            <div class="row">
                {% if cats %}
                {% for cat in cats %}
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card h-100 shadow-lg border-light"> 
                            <p class="card-title font-weight-bold bg-info text-white p-4">{{ cat.name }}</p>
                            <div class="card-body">                                
                                <p>CAT ID: {{ cat.cat_id }}</p>
                                <p>Start Date: {{ cat.start }}</p>
                                <p>End Date: {{ cat.end }}</p>
                                <p class="text-info font-weight-bolder" id="remaining-time{{cat.id}}"></p>       
                                <script>
                                    // Convert the Django datetime to a JavaScript Date object
                                    var endDateTime = new Date("{{ cat.end|date:'Y-m-d H:i:s' }}").getTime();
                                    function updateRemainingTime() {
                                        var now = new Date().getTime();
                                        var timeRemaining = endDateTime - now;
                                        if (timeRemaining > 0) {
                                            var minutesRemaining = Math.floor(timeRemaining / (1000 * 60));
                                            document.getElementById('remaining-time{{cat.id}}').innerText = "Time Left: " + minutesRemaining + " mins";
                                        } else {
                                            document.getElementById('remaining-time{{cat.id}}').innerText = "Time has ended.";
                                        }
                                    }
                                    // Update the remaining time every minute
                                    setInterval(updateRemainingTime, 60000);
                                    // Initial update
                                    updateRemainingTime();
                                </script>             
                            </div>
                            <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                                <a href="{% url 'cat-view-url' cat.id %}" class="btn btn-info">View</a>
                                {% if cat.is_published %}
                                <a class="btn btn-danger float-right"
                                    href="{% url 'cat-conceal-publish-url' cat.id %}">Conceal</a>
                                {% else %}
                                <a class="btn btn-success float-right"
                                    href="{% url 'cat-conceal-publish-url' cat.id %}">Publish</a>
                                {% endif %}
                            </div>
                            <div class="ml-1 w-100 text-center">
                                 <a class="btn btn-link text-danger "
                            href="{% url 'delete-cat-url' cat.id %}">Delete</a>
                            </div>     
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                <h4 class="d-flex justify-content-center align-items-center w-100" style="min-height: 50vh;">No CATs uploaded.</h4>
                {% endif %}
            </div>
        </div>

        <!-- Pending Student Approvals -->
        <div class="col-md-6 col-lg-4 mb-4">
            <h4 class="text-success mb-4">Pending Student Approvals</h4>
            <div class="row overflow-auto" style="height: 75vh;">
                {% if approvals %}
                {% for approval in approvals %}
                <div class="col-12 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            {% for student in students %}
                            {% if student.registration_number == approval.registration_number %}
                            <h5 class="card-title font-weight-bold text-capitalize">{{ student.last_name }} {{ student.first_name }}</h5>
                            <p class="card-text">{{ student.registration_number }}</p>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="card-footer text-muted">
                            <a href="" class="btn btn-success btn-block">Approve</a>
                            <a href="" class="btn btn-danger btn-block mt-2">Decline</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h4 class="d-flex bg-dark justify-content-center align-items-center w-100" style="min-height: 50vh;">No Approval Requests.</h4>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}
<script src="{% static 'js/global.js' %}"></script>
<script src="{% static 'js/exams.js' %}"></script>
<script src="{% static 'bootstrap/js/jquery-3.4.0.js' %}"></script>
<script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</body>
</html>